# This workflow is triggered by a push into main from certain directories
# and publishes the Internet Draft into Github Pages (the gh-pages branch)

name: Build-I-D

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a "changes" job and a dependent "build" job
  changes:
    runs-on: ubuntu-latest
    outputs:
      # Expose matched filters as job 'dirs' output variable
      dirs: ${{ steps.filter.outputs.changes }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: dorny/paths-filter@v2
        id: filter
        with:
      # IMPORTANT: this is where the script is configured.
      # Each filter name must match the directory name.
          filters: |
            BCP195bis: BCP195bis/**
            STAR-Delegation: STAR-Delegation/**

  build:
    needs: changes
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Run the job only if one of the filters matches
    if: ${{ needs.changes.outputs.dirs != '[]' }}

    # We only take the first matching filter (multiple matches should be rare anyway)
    env:
      ID_PATH: ${{ fromJSON(needs.changes.outputs.dirs)[0] }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Create IETF I-D environment
      - name: Create I-D environment
        run: |
          sudo gem install kramdown-rfc2629
          sudo pip3 install xml2rfc
          # Only kramdown-rfc2629 and xml2rfc are generic.
          # The rest is fancy stuff for STAR Delegation
          sudo pip3 install svgcheck
          go get github.com/blampe/goat
          sudo gem install cddl
          sudo npm install -g ajv
          sudo npm install -g ajv-formats
          # Add to system path
          echo "$HOME/go/bin" >> $GITHUB_PATH

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Make artifacts, in particular the I-D HTML-formatted version
      - name: Make artifacts
        run: |
          cd $ID_PATH
          make

      # Create output
      - name: Create output
        run: |
          mv $ID_PATH/*.html docs/

      # Publish to Github Pages
      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          destination_dir: docs
          exclude_assets: '.github,.nojekyll'
          keep_files: true
